body {
    background-color: #161616;
}

#navBar, footer {
    background: linear-gradient(90deg, rgba(224, 170, 56, 1) 0%, rgba(189, 189, 189, 1) 50%, rgba(224, 170, 56, 1) 100%);
}

.card {
    margin-bottom: 10px;
    border: none;
    background-color: #161616; 
}

.text-white {
    color: white !important;
}

.equal-height {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.card-container {
    background: linear-gradient(90deg, rgba(224, 170, 56, 1) 0%, rgba(189, 189, 189, 1) 50%, rgba(224, 170, 56, 1) 100%);
    padding: 20px 0;
}

.full-img-card {
    overflow: hidden;
}

.full-img-card img {
    width: 100%;
    height: auto;
    display: block;
}

.conteiner {
    color: #161616;
}

.carousel-inner > img {
    height: 200px;
    width: 100%;
}

.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cardDetalhes {
    display: flex;
}

.logo {
    height: 80px;
}
