body{
    background-color: #232323;
}

.conteiner{
    background: rgb(224,170,56);
    background: linear-gradient(90deg, rgba(224,170,56,1) 0%, rgba(255,253,232,1),rgba(224,170,56,1), rgba(255,253,232,1) 100%);
    border-radius: 5px;
    margin-bottom: 15px;
    display: flex;

}

.carousel-inner > img{
    height: 200px;
    width: 100%;
}


#produtos{
    height: 100%;
}
.container-fluid{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 20px;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
}


.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 5px;
}

.card{
    background-color: rgba(255,253,232,1);
}

.logo{
    height: 60px;
}

#navBar{
    background: rgb(224,170,56);
    background: linear-gradient(90deg, rgba(224,170,56,1) 0%, rgba(255,253,232,1),rgba(224,170,56,1), rgba(255,253,232,1) 100%);
    border-radius: 5px;
}

.imgFooter{
    height: 30px;
}

footer{
    border-radius: 5px;
    background: rgb(224,170,56);
    background: linear-gradient(90deg, rgba(224,170,56,1) 0%, rgba(255,253,232,1),rgba(224,170,56,1), rgba(255,253,232,1) 100%)
}