html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #161616;
    margin: 0;
    padding-top: 80px;
    line-height: var(--bs-body-line-height);
    color: #000000;
    display: flex;
    flex-direction: column;
}

#carrinho {
    flex: 1;
    background: linear-gradient(90deg, rgba(224, 170, 56, 1) 0%, rgba(189, 189, 189, 1) 50%, rgba(224, 170, 56, 1) 100%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.637);
}

.logo {
    height: 60px;
}

#navBar {
    background: linear-gradient(90deg, rgba(224, 170, 56, 1) 0%, rgba(189, 189, 189, 1) 50%, rgba(224, 170, 56, 1) 100%);
    border-radius: 5px;
}

.imgFooter {
    height: 30px;
}


footer {
    border-radius: 5px;
    margin-top: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgb(224, 170, 56, 1);

}

footer a.text-body {
    color: white !important;
}

.produto {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #333333;
}

.imagem-produto {
    width: 80px;
    margin-right: 20px;
}

.info-produto h3 {
    margin: 0;
    font-size: 18px;
}

.info-produto p {
    margin: 5px 0;
}

.total {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005fa3;
}
